<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!-- https://getbootstrap.com/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='postcss/posts_style.css')}}">
        {% if title %}
        <title>{{title}}</title>
        {%else%}
        <title>My site</title>
        {%endif%}
    </head>

    <body>

        <div class="container">

            <nav class=" navbar navbar-expand-lg navbar-light bg-warning" style="background-color: #3b56c8!important;">
                <a class="navbar-brand" href="{{url_for('main.home')}}"
                    style="font-size:25px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">NETWORK</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto topnav">
                        <li class="nav-item {% if request.path == '/home' %}active{% endif %}">
                            <a class="nav-link" href="{{url_for('main.home')}}">Home <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Resources
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Carfax</a>
                                <a class="dropdown-item" href="#">Carproof</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Omnivic</a>
                            </div>
                        </li> -->
                        <li class="nav-item {% if request.path == '/about' %}active{% endif %}">
                            <a class="nav-link" href="{{url_for('main.about')}}">About</a>
                        </li>
                        <li class="nav-item {% if request.path == '/contact' %}active{% endif %}">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{{url_for('posts.new_post')}}" class="nav-link btn btn-info text-white"><i
                                    class="fas fas fa-bullhorn"></i>
                                New Post</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('users.account')}}" class="nav-link btn btn-primary text-white"><i
                                    class="fas fa-user"></i>
                                Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-warning text-white" type="button" href="{{url_for('users.logout')}}"
                                style="margin-right: 10px;">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary text-white" type="button" href="{{url_for('users.login')}}"
                                style="margin-right: 10px;">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-danger text-white" type="button"
                                href="{{url_for('users.registr')}}">Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                {% block modal %}{% endblock modal %}


            </nav>
        </div>
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                </div>
                {% block menu %}
                {% endblock %}
            </div>

        </main>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        {% block script %}
        {% endblock script %}
        <script>
            $(document).ready(function () {
                console.log("window is loaded")
                $("#myModal").modal('show')
            })
            const inputs = document.querySelectorAll('.form-control');

            for (const input of inputs) {
                input.removeAttribute('required');
            }
        </script>

</html>